<div class="comment-item <%= creationSchema ? 'creation-schema' : '' %>" data-id="<%= comment.id %>">
    <p class="message freight-sans-pro">
        <%- comment.message ?
            comment.message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\n/g, "<br />") : '' %>
    </p>
    <div class="bottom">
        <div class="ca-catalog-button upvote bottom-item <%= isSelected ? 'selected' : '' %>" data-user="<%= user %>">
            <i class="icon-keyboard_arrow_up"></i>
            <span class="label"><%= comment.upvotes ? comment.upvotes.length : 0 %></span>
        </div>
        <div class="created bottom-item timeago" title="<%= comment.created ? comment.created.toISOString() : '' %>"></div>
    <%
        if (user && user == comment.userId) {
    %>
        <div class="ca-simple-button delete bottom-item">Delete Comment</div>
    <%
        }
    %>
    </div>
</div>