<div class="comments section">
    <h3>Comments</h3>
<% if (user) { %>
    <textarea class="comment-box" placeholder="Share advice and commentary on <%= course.get('subject') %> <%= course.get('catalogNbr') %>..."></textarea>
    <div class="ca-catalog-button red add-comment" data-crseid="<%= course.get('crseId') %>">Add Comment</div>
<% } %>
    <div class="comments <%= !comments.length ? 'empty' : '' %>">
        <%- include('comment', { creationSchema: true, comment: {}, isSelected: false }) %>
        <% for (var x = 0; x < comments.length; x++) {
            var comment = comments[x],
                isSelected = false;

            if (user) {
                for (var y = 0; y < comment.upvotes.length; y++) {
                    if (comment.upvotes[y].userId == user) {
                        isSelected = true;
                        break;
                    }
                }
            }
        %>
            <%- include('comment', { creationSchema: false, comment: comment, isSelected: isSelected }) %>
        <% } %>
        <p class="empty-message">No Comments Yet</p>
    </div>
</div>