<%
    var courseLink = 'course/' + course.get('subject') + '/' + course.get('catalogNbr'),
        departmentLink = 'department/' + course.get('subject');
%>
<div class="catalog-course course-entry">
    <div class="upper">
        <span class="tag">
            <a href="<%- departmentLink %>"><%= course.get('subject') %></a>
            <%= course.get('catalogNbr') %>
        </span>
        <span class="when"><%= course.get('catalogWhenOffered') %></span>
        <a href="<%- courseLink %>" class="title"><%= course.get('titleLong') %></a>
    </div>
    <div class="lower">
        <p class="description freight-sans-pro">
            <%- course.get('description') || 'No description available.' %>
        </p>
        <div class="extra-info freight-sans-pro">
        <%
            var extraInfo = function(title, attribute) {
                if (course.get(attribute)) {
        %>
                <p class="info"><strong><%= title %>:</strong> <%= course.get(attribute) %></p>
        <%
                }
            }

            var infos = [
                ['Fees', 'catalogFee'],
                ['Permission Note', 'catalogPermission'],
                ['Course Attribute', 'catalogAttribute'],
                ['Prerequisites/Corequisites', 'catalogPrereqCoreq'],
                ['Forbidden Overlaps', 'catalogForbiddenOverlaps'],
                ['Satisfies Requirement', 'catalogSatisfiesReq'],
                ['Breadth Requirement', 'catalogBreadth'],
                ['Distribution Category', 'catalogDistr'],
                ['Language Requirement', 'catalogLang'],
                ['Course Subfield', 'catalogCourseSubfield'],
                ['Comments', 'catalogComments'],
            ];

            _.each(infos, function(info) {
                extraInfo(info[0], info[1]);
            });

            var outcomes = JSON.parse(course.get('catalogOutcomes'));
            if (outcomes.length) {
        %>
                <p class="info"><strong>Outcomes:</strong></p>
                <ul class="outcomes">
        <%
                _.each(outcomes, function(outcome) {
        %>
                    <li><%= outcome %></li>
        <%
                });
        %>
                </ul>
        <%

            }
        %>
            <div class="action-buttons">
                <%- include('like', { like: like, course: course }) %>
                <%- include('add', { course: course }) %>
            </div>
        </div>
    </div>
    <div class="enrollment">
        <h3>Enrollment Options</h3>
        <%
            var componentMap = {
                LAB: 'laboratory',
                DIS: 'discussion',
                LEC: 'lecture',
                SEM: 'seminar',
                RSC: 'research',
                FLD: 'field studies',
                CLN: 'clinical',
                STU: 'studio',
                TA: 'tutor group',
                IND: 'independent study',
            }
            for (var g = 0; g < course.related('groups').length; g++) {
                var group = course.related('groups').at(g);
        %>
                <%- include('group', { group: group,
                        componentMap: componentMap }) %>
        <%
            }
        %>
    </div>
</div>