<div class="meeting">
    <div class="second">
<%
    var days = _.pick(meeting.pattern.split(/(?=[A-Z])/),
        _.identity);

    days = _.map(days, function(day) {
        var map = {
            M: 'Mon',
            T: 'Tue',
            W: 'Wed',
            R: 'Thur',
            F: 'Fri',
            S: 'Sat',
            Su: 'Sun'
        }
        return map[day];
    });

    days = days ? days.join(', ') : 'TBA';
%>
        <div class="days"><%= days %></div>
    </div>
    <div class="third">
        <p class="time">
<%
        var format = function(d) {
            d = d.toLowerCase();
            if (!d)
                return '';

            if (d[0] === '0')
                return d.substring(1);

            return d;
        };
%>
            <%= format(meeting.timeStart) %> - <%= format(meeting.timeEnd) %>
<%
        if (group.get('sessionCode') != '1') {
%>
            <span class="dates">
                <%= group.get('sessionBeginDt') %> -&nbsp;
                <%= group.get('sessionEndDt') %></span>
<%
        }
%>
        </p>
        <p class="location">
            <%= meeting.facilityDescr %>
        </p>
    </div>
    <div class="fourth">
<%
        var professors = meeting.professors;
        professors = _.map(professors, function(p) {
            return p.firstName + ' ' +
                (p.middleName.length ? p.middleName + ' ' : '') +
                p.lastName;
        });
%>
        <%= professors.join(', ') %>
    </div>
</div>