<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href='/assets/css/style.css' rel="stylesheet">
    <script src="//use.typekit.net/rfd1tkc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%- include('favicon') %>
</head>
<body>
    <div id="cornell-catalog-mount"><%- reactOutput %></div>

    <script id='context' type='application/json'>
        <%- contextString %>
    </script>
<%#
    $(document).ready(function() {
        $(".timeago").timeago();
    });
%>
    <%- include('analytics') %>
</body>
</html>