<!DOCTYPE html>
<html>
<head>
    <title>Cornellapp</title>
    <link href='/assets/css/style.css' rel="stylesheet">
    <script src="//use.typekit.net/rfd1tkc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%- include('favicon') %>
</head>
<body>
    <div id="cornell-app-mount"><%- reactOutput %></div>
    <%- include('footer') %>

    <script id='context' type='application/json'>
        <%- contextString %>
    </script>

<% if (process.env.NODE_ENV === 'development') { %>
    <script src="/assets/js/bundle.js"></script>
<% } else { %>
    <script src="/assets/js-built/app.js"></script>
<% } %>

    <%- include('analytics') %>

</body>
</html>